.home {
  height: calc(100vh - 88px);
  width: 100%;
  text-align: center;
  display: flex;
}

.left {
  flex: 1;
  padding-top: 50px;
  margin-right: 200px;
  overflow-y: scroll;
}

.left li {
  line-height: 36px;
  margin-bottom: 12px;
  padding: 3px 16px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left li:hover {
  color: rgb(102, 177, 255);
}

.liActive {
  background-color: rgba(24, 144, 255, .2);
  border-radius: 6px;
  transition: ease-in-out .3s;
  color: rgb(102, 177, 255);
}

.left li div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left li i {
  margin-left: 16px;
}

.left li span {
  font-size: 14px;
  font-weight: 600;
  margin-left: 24px;
}

.left li a {
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: #409eff;
  margin-left: 12px;
}

.left li .action {
  display: flex;
  align-items: center;
}

.right {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.content {
  width: 720px;
}

h3 {
  text-align: center;
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upload {
  width: 720px;
  height: 360px;
  border-radius: 6px;
  border: 1px dashed #d9d9d9;
  text-align: center;
  cursor: pointer;
  overflow-y: scroll;
  overflow-x: auto;
}

.upload p.toast {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload p.toast {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload p span {
  font-size: 14px;
  font-weight: 600;
  color: #606266;
}

.input {
  display: none;
  overflow: visible;
  touch-action: manipulation
}

.error {
  width: 720px;
  text-align: left;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  font-weight: 500;
}

.error span {
  color: #ff4d4f;
  transition: ease-in-out .5s;
}