.Input {
  width: 270px;
  height: 30px;
  padding: 4px 11px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: #000000d9;
  font-size: 14px;
}

.Input:focus {
  border-color: #40a9ff;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
  border-right-width: 1px !important;
  outline: 0;
  transition: ease-in-out .3s;
}

.Input::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: 400;
  color: #cacaca;
}