.content {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content i {
  font-size: 64px;
}

.content p {
  margin-top: 24px;
  text-align: left;
  line-height: 32px;
  font-size: 14px;
}

.content p span {
  font-weight: 600;
}