@font-face {
  font-family: "iconfont";
  /* Project id 3141048 */
  /* Color fonts */
  src:
    url('//at.alicdn.com/t/font_3141048_aag5xaaw29j.woff2?t=1642130303470') format('woff2'),
    url('//at.alicdn.com/t/font_3141048_aag5xaaw29j.ttf?t=1642130303470') format('truetype');
}

.icon {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vue:before {
  content: "\e799";
}

.icon-sass:before {
  content: "\e657";
}

.icon-scss:before {
  content: "\e69a";
}

.icon-css:before {
  content: "\e61c";
}

.icon-jsx:before {
  content: "\e63b";
}

.icon-md:before {
  content: "\e618";
}

.icon-js:before {
  content: "\e619";
}

.icon-json:before {
  content: "\e61a";
}

.icon-svg:before {
  content: "\e644";
}

.icon-excel:before {
  content: "\e601";
}

.icon-file:before {
  content: "\e602";
}

.icon-word:before {
  content: "\e603";
}

.icon-ppt:before {
  content: "\e604";
}

.icon-music:before {
  content: "\e605";
}

.icon-html:before {
  content: "\e606";
}

.icon-video:before {
  content: "\e607";
}

.icon-img:before {
  content: "\e608";
}

.icon-zip:before {
  content: "\e609";
}

.icon-gif:before {
  content: "\e60a";
}

.icon-exe:before {
  content: "\e60b";
}

.icon-pdf:before {
  content: "\e60c";
}

.icon-txt:before {
  content: "\e60d";
}

.icon-wps:before {
  content: "\e60e";
}