.mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.content {
  animation: spinner 0.4s;
  transition: ease-in-out 0.2s;
  transform: translateY(20px);
  z-index: 999999999;
}

.content span {
  height: 36px;
  background: #fff;
  color: #666;
  padding: 10px 16px;
  border-radius: 6px;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  pointer-events: all;
}

.content span i {
  vertical-align: middle;
  margin-right: 16px;
}

@keyframes spinner {
  0% {
    transform: translateY(-56px);
  }

  100% {
    transform: translateY(20px);
  }
}